# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
db.json
node_modules/
public/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
.deploy_git

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
