#banner
  color: rgba(255, 255, 255, 0.8)
  text-align: center
  background: url('https://qpic.url.cn/feeds_pic/ajNVdqHZLLAuZqhib5zD5NHtclOMVniaXeP7FqXEBw3Ior8IhBxGkgCQ/') center center
  background-size: contain
  height: 606.5px
  @media mq-normal
    height: 924px
    background:url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM7icnyxGgFcQxwMLWSibYKb4r4dxbyRAXmEQTo2IhIVDTqA/') center center
    background-image: none
    background-size: cover
    background-position: center center
  .wrapper
    height: 100%
  .inner
    position: relative
    height: 100%
    display: -ms-flexbox
    display: flex
    -ms-flex-pack: center
    justify-content: center
    -ms-flex-align: center
    align-items: center
    flex-direction: column
    padding-top: 310px
    @media mq-normal
      padding-top: 620px

#banner-bio
  font-size: 16px
  color: rgb(214, 214, 214)
  text-align: center
  letter-spacing: 8px
  margin: 0px 0px 70px
  line-height: 22px
  padding: 0 20px
  @media mq-normal
    font-size: 32px;

#banner-buttons
  margin-bottom: 100px
  a
    height: 50px
    font-size: 16px
    margin-bottom: 20px
    color: rgb(255, 255, 255)
    background-color: transparent
    line-height: 50px
    text-transform: none
    position: relative
    display: inline-block
    cursor: pointer
    text-align: center
    padding: 0px 58px
    text-decoration: none
    transition: all 0.3s ease-out
    border-radius: 28px
  .buy-ticket
    text-align: center
    background: linear-gradient(90deg, rgb(39, 32, 234), rgb(136, 0, 237, 1))
    width: 160px
    height: 50px
    font-size: 14px
    line-height: 50px
    padding: 0
    border-radius: 2px
    @media mq-normal
      padding: 0px 60px
      border-radius: 6px
      height: 70px
      line-height: 70px
      font-size: 24px
      width: auto
#live
  position: absolute
  margin-top: -7px
  right: 30px
  @media mq-normal
    right: 320px
    margin-top: -18px
  img
    width: 60px
    @media mq-normal
      width: 83px
#resources
  position: absolute
  bottom: 80px
  font-size: 16px
  text-align: center
  width: 100%
  a
    color: #fff
    margin: 0 5px

#banner-start
  text-align: center
  padding: 40px 0
  @media mq-normal
    padding: 60px 0
    font-size: 18px

#banner-start-command
  background: lighten(color-navy, 10%)
  font-family: font-mono
  display: inline-block
  padding: 15px 20px
  &:before
    content: "$"
    opacity: 0.5
    padding-right: 10px

#banner-start-link
  color: #fff
  background: color-link
  display: inline-block
  padding: 15px
  text-decoration: none
  transition: 0.2s
  &:hover
    background: color-link-hover

#banner-share
  display: none
  padding-bottom: 60px
  @media mq-normal
    display: block

#intro-feature-title
  background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM70Qrg6ouTg2KMay2aRAv1sWI74BJiaibmWA6bsEc2N8QAg/) no-repeat
  margin: 40px auto
  width: 271.5px
  height: 33.5px
  background-size: contain
  @media mq-normal
    width: 543px
    height: 67px
    margin: 60px auto
    text-align: center

#intro-feature-list
  display: flex
  flex-direction: column
  display: -webkit-box
  -webkit-box-pack: justify
  -webkit-box-align: center
  padding-top: 10px
  padding-bottom: 40px
  @media mq-normal
    flex-direction: row
    justify-content: space-between
    padding-top: 20px
    padding-bottom: 60px

.intro-feature-wrap
  padding-top: 20px;
  font-size: 18px;
  // width: 100%;
  padding: 0px 40px 20px 40px
  @media mq-normal
    -webkit-box-flex: 1
    font-size: 18px
    flex: 0 0 50%
    margin: 0px 42px
    padding: 0px 20px

.intro-feature
  position: relative
  text-align: center
  @media mq-normal
    text-align: center

.intro-feature-icon
  color: color-link
  font-size: 36px
  padding-bottom: 13px
  text-align: center
  @media mq-normal
    padding-bottom: 26px
  img
    width: 140px
    height: 140px
    @media mq-normal
      width: 180px
      height: 180px

.intro-feature-title
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  color: #4740FF
  font-weight: bold
  margin-bottom: 16px
  @media mq-normal
    font-size: 24px

.intro-feature-desc
  text-align: center
  font-size: 15px
  width:302px
  color: #ffffff
  line-height: 24px
  @media mq-normal
    font-size: 14px
#intro-feature-background
  color: #ffffff
  margin: 0 20px 40px 20px
  line-height: 20px
  font-size: 18px
  text-align: center
  @media mq-normal
    font-size: 24px
    line-height: 40px
    margin: 60px 0 30px 0

#intro-user-wrap
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  h2
    margin-top: 70px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;

.intro-user-item
  display: inline-block;
  margin: 20px 24px;
  .intro-user-info
    display: flex
    flex-direction: column
    align-items: center
  img
    width: 80px
    height: 80px
    border-radius: 18px

#subject-wrap
  text-align: center

  margin: 0px auto
  @media mq-normal
    // padding-top: 74px
    padding-bottom: 70px
  ul:after
    clear: both
    content: ''
    display: table

.subject-title
  background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLAScjxlLnIicqeHoEiaKyJANTqiaV5CbMvRP63TQBqicxPS4Q/) no-repeat
  margin: 0 auto
  background-size: contain
  margin-top: 36px
  width: 271.5px
  height: 33.5px
  @media mq-normal
    width: 543px
    height: 67px
    margin: 0px auto 
    margin-top: 70px
    margin-bottom: 36px

.subject-main
  margin: 0 auto
  width: 358px
  height: 180px
  background-size: cover
  margin-bottom: 14px
  border-radius: 10px
  background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLAjWkeKylrwut5CESiaQ1J3okHl0DwdKo81qxBDTIj9iaeQ/) no-repeat
  @media mq-normal
    width: 1196px
    height: 280px
  .subject-main-title
    color: rgb(255, 255, 255)
    font-weight: bold
    width: 312px
    font-size: 16px
    padding: 30px 0 15px
    margin: 0 auto 15px
    @media mq-normal
      font-size: 32px
      padding: 60px 0px 30px
      margin: 0px auto 30px
  .subject-main-seperate
      position: relative
      top:-10px
      background-color: #ffffff
      width: 18px
      height: 2px
      margin:0 auto
      @media mq-normal
        top:-46px
        width: 24px
        height: 2px
  .subject-main-content
    font-size: 12px
    color: rgb(255, 255, 255)
    width: 300px
    text-align: center
    line-height: 16px
    margin: 0px auto
    @media mq-normal
      font-size: 16px
      width: 600px
      line-height: 24px

.subject-branch
  margin: 0 auto
  width: 351px
  height: 150px
  background-color: rgb(255, 255, 255)
  @media mq-normal
    float: left
    height: 264px
    width: 590px
  .subject-branch-title
    color: #4740FF
    font-size: 22px
    font-weight: bold
    padding-top: 30px
    text-align: left 
    margin: 0px 14px 18px
    @media mq-normal
      font-size: 24px
      padding-top: 46px
      margin: 0px 30px 42px
      
  .subject-branch-seperate
    width: 24px
    height: 2px
    background-color: #4740FF
    position: relative
    left:16px
    top:-14px
    @media mq-normal
      left: 32px
      top:-32px
  .subject-branch-content
    text-align: left
    line-height: 16px
    font-size: 12px
    margin: 0px 16px
    word-wrap: break-word
    @media mq-normal
      line-height: 24px
      font-size: 16px
      margin: 0px 32px

.subject-branch:nth-child(2n)
  @media mq-normal
    margin-right: 0px

#intro-user-wrap
  text-align: center
  padding-top: 37px
  padding-bottom: 35px
  margin: 0px auto
  .publisher-title
    width: 271.5px
    height: 33.5px
    background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM4PZ3N0oukiaicP91AzUVktgCIBygkNLdGibSksa9fEB2d6g/) no-repeat
    background-size: contain
    margin: 0px auto 16px
    @media mq-normal
      padding-top: 74px
      padding-bottom: 70px
      width: 543px
      height: 67px
  .intro-user-title
    width: 271.5px
    height: 33.5px
    background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM7HkmMibr285zfHe5Fp5UKypZxhxPC0VHfoeU7PT59Vwkg/) no-repeat
    background-size: contain
    margin: 0px auto 16px
    @media mq-normal
      width: 543px
      height: 67px
  .intro-user-item
    display: inline-block
    width: 120px
    margin: 10px
    @media mq-normal
      width: 240px
      margin: 20px
      height: 280px
    img
      width: 80px
      height: 80px
      border-radius: 50%
      object-fit: cover
      @media mq-normal
        width: 160px
        height: 160px
    .name
      color: #4740FF
      font-size: 14px
      font-weight: bold
      margin: 14px 0px
      @media mq-normal
        font-size: 22px
      a
        text-decoration: none
        color: #4740FF
    .desc
      font-size: 14px
      line-height: 1.3em
      color: #666666
      @media mq-normal
        font-size: 16px

.view-all
  color: #4740FF
  font-size: 18px
  text-align: center
  border-width: 1px
  border-style: solid
  border-color: #4740FF
  border-image: initial
  margin: 40px auto 0px
  border-radius: 28px
  width: 120px
  height: 40px
  line-height: 40px
  @media mq-normal
    width: 160px
    height: 60px
    line-height: 60px
    font-size: 18px
  a
    color: #3973ff
    text-decoration: none

#preview-wrap
  margin-top: 60px
  .preview-title
    background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM6AwW2TvfBm5e4RTMPfz7ewmjnPHhEjc2jJm3rHNSHqYA/) no-repeat
    background-size: contain
    margin: 0px auto 36px
    width: 271.5px
    height: 33.5px
    @media mq-normal
      width: 543px
      height: 67px
  .preview-banner
    position: relative
    overflow: auto
    li
      float: left
    img
      width: 100%;

#partner-wrap
  text-align: center
  padding-top: 74px
  padding-bottom: 100px
  margin: 0px auto
  .partner-title
    background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLAPJVmrLdI2RwqKwicbBzgrQaSuM4zRpLicCibibl1iafnEJdQ/) no-repeat
    background-size: contain
    margin: 0px auto 36px
    width: 271.5px
    height: 33.5px
    @media mq-normal
      width: 543px
      height: 67px
  .host-title
    margin:0 auto
    margin-bottom: 40px
    width:100px
    height:28px
    background-color: #4740FF
    line-height: 28px
    font-size: 13px
    text-align: center
    color: #ffffff 
    border-radius: 28px
    @media mq-normal
      font-size: 26px
      width: 200px
      height: 56px
      line-height: 56px
    
  .sponsor-items
    display: flex
    flex-wrap: wrap
    margin-bottom:40px
  .partner-item
    display: inline-block
    img
      width: 115px
      height: 50px
      display: block
      padding: 5px
      @media mq-normal
        width: 290px
        height: 100px

  ul:after
    clear: both
    content: ''
    display: table

#speaker-subject-wrap
  margin: 0px auto
  @media mq-normal
    // padding-top: 74px
    padding-bottom: 20px
  ul:after
    clear: both
    content: ''
    display: table

.speaker-subject-main
  margin: 0 auto
  width: 358px
  height: 150px
  background-size: cover
  margin-bottom: 14px
  background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLAqWOypJPF1ykXY7hxfZc4qsqs07oCYVqY3hicCQViaqibyw/) center center
  background-size: contain
  text-align: center
  @media mq-normal
    width: 100%
    height: 280px
    background: url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM7Cttjx3NMeWgEoXhbPSwuQ7It0PoRem4opJtzeY7F2ZQ/') center center
  .speaker-subject-main-content
    position:relative
    top: 60px
    font-size: 12px
    color: rgb(255, 255, 255)
    width: 300px
    text-align: center
    line-height: 16px
    margin: 0px auto
    @media mq-normal 
      top:140px
      font-size: 18px
      width: 600px
      line-height: 24px
      bottom: 30px
  .speaker-subject-main-title
    display:  none

.speaker-subject-branch
  margin: 0 auto
  width: 358px
  height: 200px
  background-size: cover
  margin-bottom: 14px
  background: #243DAA
  text-align: center
  @media mq-normal
    width: 1200px
    height: 360px
  .speaker-subject-main-title
    color: #ffffff
    width: 312px
    font-size: 16px
    padding: 20px 0 10px 0
    margin: 0 auto 15px
    @media mq-normal
      font-size: 32px
      padding: 60px 0 20px 0
      margin: 0px auto 30px
      width: 370px
  .speaker-subject-main-seperate
      position: relative
      top:-10px
      background-color: #ffffff
      width: 18px
      height: 2px
      margin:0 auto
      @media mq-normal
        top:-30px
        width: 24px
        height: 2px
  .speaker-subject-main-content
    font-size: 12px
    color: #ffffff
    width: 300px
    text-align: center
    line-height: 16px
    margin: 0px auto
    @media mq-normal
      font-size: 16px
      width: 600px
      line-height: 24px

.speaker-subject-items
  margin: 0 auto
  width: 358px
  height: 100px
  background-color: rgb(255, 255, 255)
  margin-bottom: 16px
  display: flex
  align-items: center
  @media mq-normal
    float: left
    margin-right: 12px
    height: 168px
    width: 392px
    padding-left: 20px
    &:nth-child(3n)
      margin-right: 0
  .speaker-avatar
    float: left
    width: 90px
    height: 90px
    margin-right: 16px
    img
      width: 75px
      height: 75px
      border-radius: 50%
  .speaker-info
    float: left
    text-align: left
    @media mq-normal
      font-size: 16px
      width: 250px
    .speaker-topic
      font-size: 16px
      color: #4740FF
      line-height: 24px
      margin-bottom: 12px
      a
        text-decoration: none
        color: #4740FF
    .speaker-name
      color: #666666
      font-size: 14px

.speaker-subject-items:last-child
  @media mq-normal
    margin-right: 0px

.speaker-wrap
  .tab-header
    background: url('https://qpic.url.cn/feeds_pic/ajNVdqHZLLC2RXpQ0SBgYDmpaMF6reBPvARN3Tj4JYAIRoK1vgwCLg/') center center
    height: 150px
    background-size: cover
    @media mq-normal
      height: 400px
      background: url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM5RGYaEuPUvaHHIDUQWUc1dL7sebJsry63QcwKdQkicibcw/') center center
    .inner
      height: 150px
      position: relative
      @media mq-normal
        height: 400px
      .tab-scroller-wrap
        position: absolute
        bottom: 0
        overflow-x: scroll
        overflow-y: hidden
        -webkit-overflow-scrolling: touch
        width: 100%
        @media mq-normal
          overflow: hidden

        .tab-items
          width: 910px
          @media mq-normal
            width: 1190px
          li
            cursor: pointer
            float:left
            font-size: 12px
            color: #fff
            height: 28px
            text-align: center
            line-height: 28px
            background: rgba(29, 27, 80, 1)
            width: 100px
            @media mq-normal
              height: 56px
              width: 196px
              font-size: 20px
              line-height: 56px
          li:hover
            background-color: rgba(86, 85, 134, 1)
  
#schedule-wrap
  display: none
  overflow: scroll
  height: 896px
  @media mq-normal
    display: block

#schedule-wrap-h5
  display: block
  @media mq-normal
    display: none
  .schedule-subject-branch
    position: relative
    margin: 0 auto
    margin-top: 10px
    width: 358px
    height: 40px
    background-size: cover
    background: #020436
    @media mq-normal
      width: 1196px
      height: 280px
    .schedule-subject-main-title
      color: #ffffff
      font-size: 14px
      line-height: 40px
      margin-left: 10px
      @media mq-normal
        font-size: 32px
        padding: 60px 0px 30px
        margin: 0px auto 30px
        width: 370px
    .schedule-subject-main-content
      text-align: center
      font-size: 14px
      color: #ffffff
      line-height: 40px
      @media mq-normal
        font-size: 16px
        width: 600px
        line-height: 24px
    .schedule-subject-time
      position: absolute
      right:10px
      line-height: 40px
      font-size: 14px
      color: #ffffff
  .topic-item
    margin: 0 auto
    padding: 10px
    width: 358px
    background-color: rgb(255, 255, 255)
    display: flex
    align-items: center
    @media mq-normal
      float: left
      margin-right: 16px
      height: 160px
      width: 388px
      padding-left: 20px
    .title
      font-size: 16px
      color: #3577ff
      margin-left: 10px
    .content
      display: flex
      width: 100%
      justify-content: space-between
      .author-wrap
        display: flex
        .author-info
          display: flex
          flex-direction: column
          justify-content: center
          .name
            font-size: 14px
            // color: rgba(71, 64, 255, 1)
            line-height: 16px
            width: 200px
            a
              font-size: 14px
              // color: rgba(71, 64, 255, 1)
              text-decoration: none
          .title
            color: #666666
            font-size: 14px
            margin-left: 0
            line-height: 20px
      .time
        display: flex
        align-items: center
        font-size: 12px
        color: #000
.schedule-wrap
  h1
    display: flex
    align-items: center
    i
      background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM7jCviaKDeWGYrK7hkNGArFV6icMib43GkmgejX0Hnj6JbwQ/) no-repeat
      display: inline-block
      width: 24px
      height: 30px
  .tab-header
    background:url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM5VEkicc0GibbE0qiaONYOz6QJicv57LAhfj0r1PUgLrWurmw/') center center
    height: 150px
    background-size: cover
    @media mq-normal
      height: 260px
      background: url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM6S2fniczcQsyHekXEgHc4P0cUl37nFSdOmbjyNoLcic0kA/') center center
    .inner
      height: 260px
      position: relative
      .tab-items
        position: absolute
        bottom: 0
        li
          cursor: pointer
          float: left
          font-size: 20px
          color: #fff
          width: 237px
          height: 80px
          text-align: center
          line-height: 80px
          background: rgba(255,255,255, 0.2)
          margin-right: 1px
  .tab-content
    table
      margin: 40px 0
      border-collapse: collapse
      font-size: 16px
      tr .gray
        background-color: #FFFFFF
      td
        height: 160px
        width: 250px
        text-align: center
        line-height: 24px
      .dark-blue
        background-color: #020436
      .bold
        font-weight: bold
        color: #ffffff   
        height: 98px
      .black
        color: #000000

        a
          text-decoration: none
          color: #3379ff
      p
        margin: 0 25px
        line-height: 22px
        &.author
          margin-top: 10px
      p.location
        font-weight: normal

.apply-wrap
  overflow: hidden
  .header
    background: url('https://qpic.url.cn/feeds_pic/ajNVdqHZLLCqF339EGJpGptASHBEZgdOy7T5d9Y4QP9zQRXU6kzntw/') center center
    background-size: contain
    height: 150px
    @media mq-normal
      background: url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM67WK5VRd7jXQcNW70Fb4BdQpV46iaI5Adhp5aowGktG9g/') center center
      height: 400px
    .wrapper
      .inner
        color: #fff
        font-size: 14px
        padding: 0 10px
        line-height: 16px
        .title
          width: 355px
          margin:0 auto
          margin-top: 50px
          text-align: center
          @media mq-normal
            width: 682px
            margin: 0 auto
            margin-top: 200px
            margin-bottom: 30px
            font-size: 18px
            line-height: 30px
        .desc
            text-align: center
            font-size: 14px
            @media mq-normal
              font-size: 18px
  .tab-content
    .review-pictures
      margin-top: 60px
      .requirements-title
        background:url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM6AwW2TvfBm5e4RTMPfz7ewmjnPHhEjc2jJm3rHNSHqYA/') no-repeat
        width: 271.5px
        height: 33.5px
        background-size: contain
        margin: 0px auto
        @media mq-normal
          // padding-top: 74px
          // padding-bottom: 70px
          width: 543px
          height: 67px
      .carousel
        position: relative
        z-index: 2
        height:250px
        transform-style: preserve-3d
        perspective: 800px
        @media mq-normal
          height: 530px
          margin-top: 20px
        img
          position: absolute
          left:50%
          top:50%
          width:252px
          height:133px
          margin-left:-126px
          margin-top:-66.5px
          transition:transform .5s ease-in-out
          box-shadow:8px 8px 20px rgba(43, 36, 227, 0.4)
          cursor:pointer
          border: 10px solid #ffffff
          border-radius: 10px
          @media mq-normal
            width:860px
            height:516px
            margin-left:-430px
            margin-top:-258px
      #bannerNav
        position:relative
        margin-top:20px
        height:10px
        padding:10px 0
        text-align:center
        ul
          li
            cursor:pointer
            overflow:hidden
            display:inline-block
            width:14px
            margin:0 2px
            a
              margin:0 auto
              display:block
              width:6px
              height:6px
              vertical-align:top
              border-radius:3px
              background:#5e6671
              font-size:0
      #bannerNav ul li.on a,#bannerNav ul li:hover a
        background:#b4b7ba
      #bannerNav ul li.on a
        width:12px
    .requirements
      padding: 0 10px
      margin-top: 60px
      .requirements-title
        background:url('https://qpic.url.cn/feeds_pic/Q3auHgzwzM50ibTib76oCCaLZ3DfWCMiazrbku3JzVy1qfuVTd2fe20yQ/') no-repeat
        width: 271.5px
        height: 33.5px
        background-size: contain
        margin: 0px auto
        @media mq-normal
          // padding-top: 74px
          // padding-bottom: 70px
          width: 543px
          height: 67px
      .section
        margin-bottom: 40px
        .section-title
          margin: 10px 0
          color: #4740FF
          font-size: 16px
          font-weight: bold
          @media mq-normal
            font-size: 24px
        .section-content
          p
            line-height: 22px
            color: #3e4249
            font-size: 12px
            @media mq-normal
              line-height: 30px
              font-size: 20px
      .apply-button
        padding: 0 33px
        border-radius: 28px
        text-align: center
        line-height: 59px
        text-decoration: none
        color: #4740FF
        border: 1px solid #4740FF
        display: block
        margin: 0 auto 100px auto
        width: 160px
        height: 50px
        font-size: 14px
        line-height: 50px
        padding: 0
        border-radius: 28px
        @media mq-normal
          width: 170px
          height: 59px
          font-size: 16px
          border-radius: 4px
          align-items: center
          display: flex
          justify-content: center
          border-radius: 28px

.detail-wrap
  padding: 0 20px
  @media mq-normal
    padding: 0
  .base-info
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-top: 70px
    margin-bottom: 90px
    .title
      font-size: 20px
      color: #4740FF
      margin-bottom: 27px
      font-weight: bold
      @media mq-normal
        font-size: 36px
        margin-bottom: 54px
    .author
      font-size: 16px
      color: #333333
      font-weight: bold
      @media mq-normal
        font-size: 24px
    .logo-url
      img
        width: 120px
        height: 120px
        border-radius: 50%
        object-fit: cover
        @media mq-normal
          width: 200px
          height: 200px
  .topic-detail
    font-size: 14px
    line-height: 30px
    padding-bottom: 70px
    margin-bottom: 60px
    border-bottom: 1px solid #e5e5e5
    @media mq-normal
      font-size: 20px
  .conf-info
    display: flex
    margin-bottom: 140px
    @media mq-normal
      margin-bottom: 70px
    .key
      color: #333
      font-size: 14px
      margin-bottom: 6px
      margin-top: 4px
      @media mq-normal
        font-size: 20px
    .value
      color: #4740FF
      font-size: 16px
      font-weight: bold
      @media mq-normal
        font-size: 24px
    .location
      display: flex
      flex: 1
      i
        background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLC309Bj2QRKaicq6Hp4jibRueicIYy5AvgNmY18s0BbicPsyA/) no-repeat
        background-size: contain
        display: inline-block
        width: 22.5px
        height: 30.5px
        margin-right: 10px
        @media mq-normal
          margin-right: 30px
          width: 54px
          height: 54px
    .time
      display: flex
      flex: 1
      i
        background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLA9vAJMYJgdYuPstsUsdMZiaHtscibp3vO4usnhNTLDPlMw/) no-repeat
        background-size: contain
        display: inline-block
        width: 27px
        height: 27px
        margin-right: 10px
        @media mq-normal
          margin-right: 30px
          width: 54px
          height: 54px
    .branch
      display: flex
      flex: 1
      i
        background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM4LKXt4cWyEFIdE4FrOgvf5iauicjD9nXjOUMTs02oSzY9g/) no-repeat
        background-size: contain
        display: inline-block
        width: 24.5px
        height: 24.5px
        margin-right: 10px
        @media mq-normal
          margin-right: 30px
          width: 54px
          height: 54px


.publisher-wrap
  padding: 0 20px
  @media mq-normal
    padding: 0
  .base-info
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-top: 70px
    margin-bottom: 90px
    .title
      font-size: 20px
      color: #4740FF
      margin-bottom: 24px
      font-weight: bold
      @media mq-normal
        font-size: 36px
        margin-bottom: 54px
    .author
      font-size: 16px
      color: #3e4249
      font-weight: bold
      @media mq-normal
        font-size: 24px
    .logo-url
      img
        width: 120px
        height: 120px
        border-radius: 50%
        @media mq-normal
          width: 200px
          height: 200px
  .topic-detail
    font-size: 14px
    line-height: 30px
    padding-bottom: 70px
    margin-bottom: 60px
    border-bottom: 1px solid #e5e5e5
    @media mq-normal
      font-size: 20px
  .speaker-list
    .speaker-item
      margin-bottom: 40px
      .speaker-header
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 30px
        align-items: center
        .speaker-title
          font-size: 20px
          color: #4740FF
          font-weight: bold
          @media mq-normal
            font-size: 36px
          a
            color: #4740FF
            font-weight: bold
            text-decoration: none
        .location
          display: flex
          i
            background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLC309Bj2QRKaicq6Hp4jibRueicIYy5AvgNmY18s0BbicPsyA/) no-repeat
            background-size: contain
            display: inline-block
            width: 22.5px
            height: 30.5px
            margin-left: 10px
            @media mq-normal
              margin-left: 30px
              width: 72px
              height: 72px
          .key
            text-align: right 
            color: #333
            font-size: 14px
            margin-bottom: 6px
            margin-top: 4px
            @media mq-normal
              font-size: 20px
          .value
            text-align: right 
            color: #4740FF
            font-size: 16px
            @media mq-normal
              font-size: 24px
      .speaker-detail
        color: #999
        font-size: 18px
        @media mq-normal
          font-size: 20px
          line-height: 30px
