layout: index
comments: false
---

div#intro-feature-title
div#intro-feature-background
   TLC 腾讯直播大会（Tencent Live Conference，简称 TLC），是由腾讯看点团队精心打造，由IVWEB团队(https://ivweb.io/)主办的面向全球大前端领域的技术大会，致力于提升和促进全行业大前端、信息流、音视频、直播、图像处理等领域的交流和技术创新，旨在打造一个高品质、高标准的行业交流会议。通过行业知名讲师的分享与交流，帮助参会者了解各个技术领域的发展趋势与实践案例。本次大会主题涵盖社交、电商、娱乐等领域，讲师是来自腾讯、阿里、paypal、Bilibili、京东等业界知名企业的技术专家，并且有丰富的大会分享经验。 这将是一场视频、直播、前端领域的嘉年华。
ul#intro-feature-list

